// 
// Variables
//


// Tipografía
$mainFont: "besom", Arial, sans-serif bold;
$bodyFont: "Muli";

// Colores
$color1: #fff; //blanco
$color2: #D86D32; //anaranjado
$color3: #43A6B9; //truquesa
$color4: #292929; //gris

// Layout
$max-width: 1000px;
