.about-info{
	margin-bottom: 30px;
	padding: 0 10px;
	width: 100%;

	p{
		color: $color3;
	}
	
	@media (min-width: 640px) {
		float: right;
		margin-top: 7%;
		width: 50%;
	}

	@media (min-width: 740px) {
		float: right;
		margin-top: 9%;
		width: 50%;

		p{
			@include font-size(18);
		}
	}

	.see-more{
		margin-top: 30px;
	}
}

.img-about{
	display: none;
	@media (min-width: 640px) {
		display: inline-block;
		width: 50%;

		img{
			heigth: auto;
			width: 100%;
		}
	}
	
}