.events{
	@media (min-width: 640px) {
		background: url(../img/img-home/img-events.jpg) no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
	}
	
}

.event{
	background: rgba(216, 109, 60, 0.95);
	margin-bottom: 2px;
    padding: 40px 20px;
	width: 100%;
	
	@media (min-width:640px) {
		display: inline-block;
		width: 50%;
	}

	@media (min-width: 740px) {
		width: 33%;
	}

	h4{
		text-align: center;
	}
}

.event-info p{
	color: $color1;
}