header{
	background: url(../img/img-home/img-header1.jpg) no-repeat;
 	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.top-header{
	background: rgba(216,109,50,.95);
	box-shadow: 0 1px 0 rgba(255,255,255, 0.3);
	height: 70px;
	position: fixed;
	width: 100%;	
	z-index: 2;
}

.content-header{
	margin: 60% 0;
	padding: 0 10px;
	text-align: center;
	
	@media (min-width: 640px) {
		margin: 50% 0;
	}

	@media (min-width: 740px) {
		margin: 42% 0;
	}

	@media (min-width: 1024px) {
		margin: 25% auto;
	}
	
	h1,h2{
		color: $color3;
	}

	h1{
		@include font-size(100);
	}

	h2{
		@include font-size(50);
	}
}