header{
	background: url(../img/img-home/img-header.jpg) no-repeat center;
	background-attachment: fixed;
 	background-size: cover;
	overflow: hidden;
	width: 100%;
}

.top-header{
	background: $color2;
	height: 70px;
	padding: 5px 10px;
	position: fixed;
	width: 100%;	
}

.content-header{
	margin: 60% 0;
	padding: 0 10px;
	text-align: center;
	
	@media (min-width: 640px) {
		margin: 50% 0;
	}

	@media (min-width: 740px) {
		margin: 42% 0;
	}

	@media (min-width: 1024px) {
		margin: 23% auto;
	}

	h1{
		@include font-size(70);
	}

	h2{
		@include font-size(50);
	}
}