// 
// Navigation
//
nav ul li a {
	color: $color1;
 
  &:hover {
	  border-bottom: 1px solid;
  }
}

nav ul li {
  display: inline-block;
  margin-right: 20px
}


nav ul li:last-child{
  margin-right: 0;
}

.main-nav {
	@include font-size(40);
  float: right;
  line-height: 80px;
  text-align: center; 

  @media (min-width: 740px) {
    @include font-size(22);
    line-height: normal;
    margin-top: 25px;
  }

  ul{
    @media (min-width: 740px) {
      margin: 0;
    }
  }

  li{
    display: none;  

    @media (min-width: 740px) {
      display: inline-block;
    }
  }
  
  li a{
    font-weight: bold;
  }
}

.menu-collapse{
  float: right;
  overflow: hidden;
  margin: 5px 10px;
}

.menu-toggle {
  width: 40px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer;
}
  @media (min-width: 740px) {
    .menu-toggle{
      display:none;
    }
}

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
  opacity: 0;
}

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  background: $color1;
  backface-visibility: hidden;
  border-radius: 2px;
  height: 5px;
  margin: 6px 0;  
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
}

.extended{
  -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  li{
    display: block;

  }
}

.overlay{
    background: $color3;
    height: 100%;
    left: 0;
    overflow: scroll;
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 15;
}
